.button {
	color: rgb(0, 225, 255);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 22vh;
}
body {
	background-image: url(circles-background-dark-tones_60389-166.avif);
	background-repeat: no-repeat;
	background-size: cover;
}
.reg {
	color: rgb(0, 225, 255);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25vh;
}
